//-------Reset Css
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: unset;
  color: unset;
}

//Common Styles
body {
  font-family: 'Poppins';
  font-weight: 400;
  text-transform: capitalize;
}

.container {
  max-width: 1440px;
  margin-inline: auto;
}
