//-------Reset Css
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: unset;
	color: unset;
}

//Common Styles
::-webkit-input-placeholder {
	font-family: 'Poppins';
	font-weight: 400;

	overflow-x: hidden;
	font-size: 1rem;
	line-height: 1.625rem;
}
::-moz-placeholder {
	font-family: 'Poppins';
	font-weight: 400;
	overflow-x: hidden;
	font-size: 1rem;
	line-height: 1.625rem;
}
:-ms-input-placeholder {
	font-family: 'Poppins';
	font-weight: 400;
	overflow-x: hidden;
	font-size: 1rem;
	line-height: 1.625rem;
}
::-ms-input-placeholder {
	font-family: 'Poppins';
	font-weight: 400;
	overflow-x: hidden;
	font-size: 1rem;
	line-height: 1.625rem;
}
body,
::placeholder {
	font-family: 'Poppins';
	font-weight: 400;

	overflow-x: hidden;
	font-size: 1rem;
	line-height: 1.625rem;
}
html,
body,
main {
	scroll-behavior: smooth !important;
}

.container {
	max-width: 1440px;
	margin-inline: auto;
	padding-inline: 1rem;
}

::-moz-selection {
	background-color: #9e3768;
	color: #f0f0f0;
}

::selection {
	background-color: #9e3768;
	color: #f0f0f0;
}

textarea {
	resize: none;
}
